* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #daebe8;
	font-family: 'Roboto', sans-serif;
	background:
		url(https://images.pexels.com/photos/219692/pexels-photo-219692.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
}

a {
	color: #9af1fc;
	text-decoration: none;
}
hr {
	width: 2rem;
	border: none;
	height: 2px;
	background-color: #00bcd4;
	margin: 1.5rem 0;
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 75%; */
}

.container {
	display: flex;
	align-items: center;
	width: 75%;
}

.overview {
	padding: 3rem;
}

.fullname {
	font-weight: 300;
	letter-spacing: 2px;
	margin-bottom: 1.75;
}

.description {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1;
	letter-spacing: 1px;
	font-size-adjust: .4;
}

.job-title {
	color: #ffc107;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

.image-container {
	width: 100%;
	padding: 3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

.works {
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

.works h2 {
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
}

.works img {
	width: 80px;
	height: 80px;
}

.social-media a {
	color: #efefef;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	opacity: 1;
}

.social-media a:hover {
	color: #80ced6;
}

.ads a {
	margin: 0.1rem;
	color: #efefef;
}

.ads a:hover {
	color:#80ced6;
}

.ads {
	font-size-adjust: .38;
	margin-top: 5px;
}

@media (max-width: 980px) {
	.container {
		flex-direction: column;
	}

	.image-container {
		width: 100%;
		padding: 3rem 0 0;
	}

.overview {
	order: 1;
	padding: 3rem 0;
}
}